doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #container
      #header
        .nav
      #body
        block content
      #footer
        .footer


