a{
    display: inline-block;
    margin: 12px 350px 0;
}
.table{
    width: 600px;
    margin: 22px auto;
    font-size: 14px;
    text-align: center;
    border-left: 1px solid #000000;
    border-top: 1px solid #000000;
}
.table .thead{
    background-color: #000000;
    color: #ffffff;
}
.table .tr{
    display: flex;
    line-height: 32px;
    transition: background-color .2s ease-in-out;
}
.table .tr:hover{
    background-color: black;
    color: #ffffff;
}
.table .th,.table .td{
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    width: 100px;
}
